<!DOCTYPE html>
<html>
<head>
    <title>Student Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <label for="grade">Grade:</label>
            <select id="grade" name="grade">
                <option value="Grade 5">Grade 5</option>
                <option value="Grade 6">Grade 6</option>
                <option value="Grade 7">Grade 7</option>
            </select><br><br>
            
            <label for="school">School Name:</label>
            <input type="text" id="school" name="school" value="NPS East"><br><br>
            
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
