<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Smart Scholar - your home revision mate {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="header">
        <h1>{% block header %}Welcome to Smart Scholar - your home education aid {% endblock %}</h1>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p>This is non commercial pilot application to provide education aid for home revision. While all care has been taken to ensure the content are based on school text books, school material reference is always recommended. </p>
    </div>
</body>
</html>
