<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Smart School - Home Education Aid </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1> Student Login</h1>
        <form method="POST" action="{{ url_for('main.login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="grade">Grade:</label>
            <select id="grade" name="grade" required>
                <option value="Grade 7">Grade 7</option>
                <option value="Grade 5">Grade 5</option>
        
            </select>

            <label for="school">School:</label>
            <input type="text" id="school" name="school" required value="EISB">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
